body{background-color: rgb(205, 172, 243);}
h3{color: rgb(247, 142, 163);
    font-family: verdana;
    font-size: 110%;
    border: 2px solid rgb(0, 0, 0);
}

h2{
    border : 2px solid black;
    padding : 20px;
    margin: 15px;
    width: 50%;
}
